* {
  padding: 0;
  margin: 0;
}

h1, p {
  background-color: #e7e1d8;
}

h1 {
  text-align: center;
  padding: 25px 25px 25px 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#1c2444));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #1c2444);
  border: 10px solid black;
}

p {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#d5d9f6));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #d5d9f6);
  border: 5px solid black;
}

table {
  text-align: center;
  padding: 3px;
  background-color: #e7e1d8;
  color: black;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#1c2444));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #1c2444);
}

nav ul li {
  font-family: Arial, sans-serif;
  padding: 15px 10px 15px 10px;
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
}

li {
  padding: 15px 10px 15px 10px;
  margin-top: 35px;
  margin-left: 35px;
  display: inline-block;
}

a {
  color: #9c2292;
  text-decoration: none;
  font-size: 25px;
}

.btn {
  color: #9c2292;
  border: solid #9c2292;
}

main {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  -ms-grid-columns: (210px)[4];
      grid-template-columns: repeat(4, 210px);
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  font-size: 5rem;
}

div {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#1c2444));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #1c2444);
  color: black;
  padding: 1rem;
}

.formulario {
  width: 500px;
  margin: auto;
  border: 3px solid black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#d5d9f6));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #d5d9f6);
  text-align: center;
}

.logo {
  text-align: center;
}

.card {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#1c2444));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #1c2444);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contactos {
  text-align: center;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#1c2444));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #1c2444);
}

.color {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9da2ae), color-stop(#f2f3fb), to(#1c2444));
  background-image: linear-gradient(#9da2ae, #f2f3fb, #1c2444);
}

.cuadro {
  text-align: center;
  margin: auto;
  border: 3px solid black;
}

.box {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin: 20px auto;
}

.box1 {
  background-color: #e4d6c0;
}

.box:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform: all;
          transform: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.boxGreend {
  background-color: wheat;
}

.box1 {
  width: 50px;
}

.box-icon {
  width: 24px;
}

footer {
  text-align: center;
  padding: 6px;
  background-color: #e4d6c0;
  color: #fde6e6;
}

:root {
  --footer-bg: #1c2444;
  --color: #f2f3fb;
  --color-smooth: #9da2ae;
  --input-border: #3a456a;
  --btn-bg-color: #f1f2fc;
  --btn-hover-bg: #d5d9f6;
  --btn-color: #1e2641;
}

footer {
  font-size: 10px;
  background: var(--footer-bg);
  padding: 2em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  font-family: "IBM Plex Sans", sans-serif;
}

footer ul {
  list-style: none;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.col-title {
  font-family: "Merriweather", serif;
  color: var(--color);
  font-size: 1.7em;
  font-weight: 500;
  padding: 0.50em 0;
}

.col-list a {
  color: var(--color-smooth);
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.subscribe-form,
.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagenPerifericos {
  width: 600px;
  height: 500px;
}

.imagenMando {
  width: 600px;
  height: 500px;
}

.imagenTeclado {
  width: 600px;
  height: 500px;
}

.imagenSoporte {
  width: 600px;
  height: 500px;
}

.imagenConsola {
  width: 600px;
  height: 500px;
}

.imagenMsi {
  width: 600px;
  height: 400px;
}

.imagenEstacion {
  width: 600px;
  height: 400px;
}

.imgagenEstaciongamer {
  width: 600px;
  height: 400px;
}

.imagenCorsair {
  width: 600px;
  height: 400px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20% 20% 20%;
      grid-template-columns: 40% 20% 20% 20%;
  -ms-grid-rows: 200px 150px 100px;
      grid-template-rows: 200px 150px 100px;
  background-color: #111010;
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery img:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.gallery img:nth-child(2) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

.gallery img:nth-child(3) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.gallery img:nth-child(4) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.gallery img:nth-child(5) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.gallery img:nth-child(6) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.gallery img:nth-child(7) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

img {
  width: 250px;
}

.magen2 {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardimg {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.carousel {
  text-align: center;
}

.flecha {
  color: black;
}

.redsocial, .redsocial--nueva {
  border: 2px black;
  background-color: #e7e1d8;
}

.redsocial--nueva {
  font-size: 10px;
}

.box23 {
  height: 55px;
  width: 200px;
  background-color: #e7e1d8;
}
/*# sourceMappingURL=estilos.css.map */