.box{
    border-radius: 2px;
    height: 20px;
    width: 20px;
    margin: 20px auto;
  }
  
  .box1{
    background-color: rgb(228, 214, 192);
  }
  
  .box:hover{
    transform: scale(2);
    transform: all;
    transition-duration: 2s;
  }

  .boxGreend{
    background-color: wheat;
  }
  
  .box1{
    width: 50px;
  
  }
  
  .box-icon{
    width: 24px;
  }