
* {

    padding: 0;
  
    margin: 0;
  
  }

  h1, p {
    background-color:$vblanco2; }
   
      

    h1{
        padding: 25px 25px 25px 25px;
        border: 10px solid $vnegro1 ; }

        p{
            border-style: outset;
           
            
           }

           
  em, strong {background-color: rgb(231, 225, 216);
  }
  
  table{
    text-align: center;
    padding: 3px;
    background-color: $vblanco2;
    color:$vnegro1;
  }
  
  
  body{
    background-image: linear-gradient(to left, $vnegro1, $vblanco2);
  }
  
  
  
  nav ul li {
  
    font-family: Arial, sans-serif;
    padding: 15px 10px 15px 10px;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block; }

    
    
    
    li{
      padding: 15px 10px 15px 10px;
      margin-top: 35px;
      margin-left: 35px;
      display: inline-block;
      
  
   }
  
  
  a {
    color: $vnegro1;
    
    text-decoration: none;
    
    font-size: 25px;
  }
    
  
  
  
  
  main {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 210px);
    grid-template-rows: 150px 150px;
    font-size: 5rem;
  }
  
  div {
    background-color: $vblanco2;
    color: $vnegro1;
    padding: 1rem;
  }
  