
* {

    padding: 0;
  
    margin: 0;
  
  }

  h1, p {
    background-color:$vblanco2; }
   
      

    h1{
      text-align: center;
        padding: 25px 25px 25px 25px;
        background-image: linear-gradient($wa,$wd,$wr);
        border: 10px solid $vnegro1 ; }

        p{
          text-align: center;
          background-image: linear-gradient($wa,$wd,$qe);
          border: 5px solid $vnegro1 ;
           
            
           }

           
  
  table{
    text-align: center;
    padding: 3px;
    background-color: $vblanco2;
    color:$vnegro1;
  }
  
  
  body{
    background-image: linear-gradient($wa,$wd,$wr,);
  }
  
  
  
  nav ul li {
   font-family: Arial, sans-serif;
    padding: 15px 10px 15px 10px;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block; }

    

    li{
      
      padding: 15px 10px 15px 10px;
      margin-top: 35px;
      margin-left: 35px;
      display: inline-block;}
      
  
    
  
  
  a {
    color: rgb(156, 34, 146);
    
    text-decoration: none;
    
    font-size: 25px;
  }

  .btn {color: rgb(156, 34, 146);
    border: solid rgb(156, 34, 146) ;
  }
    
  
  
  
  
  main {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 210px);
    grid-template-rows: 150px 150px;
    font-size: 5rem;
  }
  
  div {
    background-image: linear-gradient($wa,$wd,$wr,);
    color: $vnegro1;
    padding: 1rem;
  }
  

  .formulario{
    width: 500px;
      margin: auto;
      border: 3px solid $vnegro1 ;
      background-image: linear-gradient($wa,$wd,$qe,);
    text-align: center;
    }

    .logo{
      text-align: center;
    }
    
    .card{
      text-align: center;
      background-image: linear-gradient($wa,$wd,$wr,);
      display: flex;
      flex-wrap: wrap;
      list-style: none;
     margin: 0;
     padding: 0;
    
    }
    
    .contactos{
      text-align: center;
      margin: auto;
       background-image: linear-gradient($wa,$wd,$wr,)
    }

    .color{ background-image: linear-gradient($wa,$wd,$wr,)

    }
    .cuadro{
      text-align: center;
      margin: auto;
      border: 3px solid $vnegro1

    }

   
    